beautifulsoup4==4.13.4
bs4==0.0.2
langchain==0.3.13
langchain-text-splitters==0.3.3
numpy==1.26.4
python-dotenv==1.0.0
qdrant-client==1.15.0
requests==2.32.4
scikit-learn==1.6.1
scipy==1.13.1
sentence-transformers==5.0.0
torch==2.7.1
transformers==4.54.1
openai==1.98.0
psutil==5.9.0